---
import { Nut } from 'lucide-react';
import { GlobalMenu } from './react/GlobalMenu';
---

<header
  class="flex items-center h-16 px-4 border-b border-solid text-zinc-500 bg-zinc-100 border-zinc-300 dark:text-zinc-400 dark:bg-zinc-800 dark:border-zinc-700"
>
  <div class="flex gap-2 justify-between w-full max-w-screen-md mx-auto md:px-4">
    <div class="flex items-center gap-2">
      <Nut size="24" />
      <a class="font-bold text-zinc-500 dark:text-zinc-400" href="/">
        도토리 노트
      </a>
    </div>
    <GlobalMenu client:load />
  </div>
</header>
