@import 'tailwindcss';
@import '@siluat/shadcn-ui/globals.css';
@import './view-transition.css';
@plugin '@tailwindcss/typography';
@theme {
  --font-noto-sans-kr: 'Noto Sans KR Variable', 'sans-serif';
}

@custom-variant dark (&:is(.dark *));
