---
import { getCollection } from 'astro:content';

const notes = await getCollection('notes');
const lastModifiedNotes = notes.sort((a, b) => b.data.lastModified.valueOf() - a.data.lastModified.valueOf());
---

<ul class="pl-0 flex flex-col">
  {
    lastModifiedNotes.map((note) => (
      <li class="my-2">
        <a class="flex flex-col" href={`/note/${note.id}`}>
          {note.data.title}
          <time class="text-xs text-zinc-500 dark:text-zinc-400 mt-1" datetime={note.data.lastModified.toISOString()}>
            {note.data.lastModified.toLocaleDateString('ko-KR')}
          </time>
        </a>
      </li>
    ))
  }
</ul>
