.wrapper {
  display: grid;
}

.card {
  width: 356px;
  height: 74px;
  box-shadow: 0 4px 12px #0000001a;
  border: 1px solid #eeeeee;
  background: white;
  border-radius: 8px;
  grid-area: 1 / 1;

  transform: scale(calc(1 - var(--index) * var(--scale-increment)))
    translateY(calc(var(--index) * var(--translate-increment)));
}
