---
import InitPandaCss from '~/components/InitPandaCss.astro'
import InitTheme from '~/components/InitTheme.astro'
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>도토리 노트</title>
    <InitPandaCss />
    <InitTheme />
  </head>
  <body>
    <slot />
  </body>
</html>
