---
import '@fontsource-variable/noto-sans-kr'
import Header from '~/components/Header.astro'
import InitPandaCss from '~/components/InitPandaCss.astro'
import InitTheme from '~/components/InitTheme.astro'
import { vstack } from '~/styled-system/patterns'
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>도토리 노트</title>
    <InitPandaCss />
    <InitTheme />
  </head>
  <body class={vstack()}>
    <Header />
    <main class={vstack({ justifyContent: 'center' })}>
      <slot />
    </main>
  </body>
</html>
