---
import '@fontsource-variable/noto-sans-kr';
import GoogleTag from '~/components/GoogleTag.astro';
import Header from '~/components/Header.astro';
import '~/styles/global.css';
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>도토리 노트</title>
    <GoogleTag />
  </head>
  <body class="bg-zinc-50 dark:bg-zinc-950 text-zinc-900 dark:text-zinc-50 break-keep font-noto-sans-kr">
    <Header />
    <main class="mx-auto max-w-screen-md">
      <slot />
    </main>
  </body>
</html>
