---
import GoogleTag from '@/components/GoogleTag.astro';
import Header from '@/components/Header.astro';
import InitColorScheme from '@/components/InitColorScheme.astro';
import '@/styles/global.css';
import '@fontsource-variable/noto-sans-kr';
---



<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>도토리 노트</title>
    <meta property="og:title" content="도토리 노트" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="도토리 노트" />
    <InitColorScheme />
    <GoogleTag />
  </head>
  <body class="bg-zinc-50 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-50 break-keep font-noto-sans-kr">
    <Header />
    <main class="mx-auto max-w-screen-md">
      <slot />
    </main>
  </body>
</html>
