---
import { quotes } from '../lib/random-quote-data';
import OpenQuote from '@/widgets/random-quote/ui/OpenQuote.astro';
import CloseQuote from '@/widgets/random-quote/ui/CloseQuote.astro';

interface Props {
  className?: string;
}

const { className = '' } = Astro.props;

const randomIndex = Math.floor(Math.random() * quotes.length);
const quote = quotes[randomIndex];
---

<div class={`random-quote ${className} relative overflow-hidden z-0 bg-zinc-100 dark:bg-zinc-800 rounded-lg`}>
  <OpenQuote className="absolute -top-2 left-0 text-zinc-200 dark:text-zinc-600" />
  <blockquote class="z-1 p-8 w-full text-center text-zinc-400 dark:text-zinc-400 text-sm">
    {quote.original && <p class="original">{quote.original}</p>}
    {quote.translated && <p class="translated">{quote.translated}</p>}
    <footer>
      <cite class="source">— {quote.source}</cite>
    </footer>
  </blockquote>
  <CloseQuote className="absolute right-0 -bottom-2 text-zinc-200 dark:text-zinc-600" />
</div>
