---
import { center } from '@/styled-system/patterns'
---

<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <main class={center({ h: '100vh' })}>
      <h1>silu.at</h1>
    </main>
  </body>
</html>
