---
import CenteredFullscreenPageLayout from '@/layouts/centered-fullscreen-page-layout.astro'
---

<CenteredFullscreenPageLayout>
  <main>
    <h1>silu.at</h1>
  </main>
</CenteredFullscreenPageLayout>
