---
import PageLayout from '@/layouts/page-layout.astro'
import { center } from '@/styled-system/patterns'
---

<PageLayout>
  <main class={center({ h: '100vh' })}>
    <h1>silu.at</h1>
  </main>
</PageLayout>
