---
import '@fontsource-variable/noto-sans-kr'
import '@/panda-config/panda-css-layers.css'
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  import { initTheme } from '@/features/theme-management'

  await initTheme({ rootElement: document.documentElement })
</script>
