---
import '@/panda-config/panda-css-layers.css'
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  import { applyTheme, detectTheme } from '@/features/theme-management'

  await applyTheme(document.documentElement, await detectTheme())
</script>
