---
import { getCollection } from 'astro:content';
import DefaultLayout from '~/layouts/DefaultLayout.astro';

export async function getStaticPaths() {
  const entries = await getCollection('dotori');
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<DefaultLayout>
  <article class="prose prose-zinc dark:prose-invert max-w-none px-6 py-12">
    <h1>{entry.data.title}</h1>
    <Content />
  </article>
</DefaultLayout>
