---
import { getCollection } from 'astro:content';
import { getNormalizedNote } from '@/utils/note-collection';

const entries = await getCollection('note');

const notes = (await Promise.all(entries.map(getNormalizedNote))).sort(
  (a, b) => b.lastModified.valueOf() - a.lastModified.valueOf(),
);
---

<ul class="pl-0 flex flex-col">
  {
    notes.map((n) => (
      <li class="my-2">
        <a class="flex flex-col" href={`/note/${n.slug}`}>
          {n.title}
          <time class="text-xs text-zinc-500 dark:text-zinc-400 mt-1" datetime={n.lastModified.toISOString()}>
            {n.lastModified.toLocaleDateString('ko-KR')}
          </time>
        </a>
      </li>
    ))
  }
</ul>
