---
import { getCollection } from 'astro:content';
import { css } from '~/styled-system/css';
import { flex } from '~/styled-system/patterns';
import { getNormalizedContent } from '~/utils/content-collection';

const entries = await getCollection('dotori');
const contents = (await Promise.all(entries.map(getNormalizedContent))).sort(
  (a, b) => b.lastModified.valueOf() - a.lastModified.valueOf(),
);
---

<ul class={css({ listStyle: 'none', pl: 0 })}>
  {
    contents.map((c) => (
      <li class={css({})}>
        <a class={flex({ direction: 'column' })} href={`/content/${c.slug}`}>
          {c.title}
          <time
            class={css({
              textStyle: 'xs',
              color: 'gray11',
              _dark: { color: 'grayDark11' },
            })}
            datetime={c.lastModified.toISOString()}
          >
            {c.lastModified.toLocaleDateString('ko-KR')}
          </time>
        </a>
      </li>
    ))
  }
</ul>
