---
import { getCollection } from 'astro:content';
import { getNormalizedContent } from '~/utils/content-collection';

const entries = await getCollection('dotori');

const contents = (await Promise.all(entries.map(getNormalizedContent))).sort(
  (a, b) => b.lastModified.valueOf() - a.lastModified.valueOf(),
);
---

<ul class="pl-0">
  {
    contents.map((c) => (
      <li class="my-2">
        <a class="flex flex-col" href={`/content/${c.slug}`}>
          {c.title}
          <time class="text-xs text-zinc-500 dark:text-zinc-400" datetime={c.lastModified.toISOString()}>
            {c.lastModified.toLocaleDateString('ko-KR')}
          </time>
        </a>
      </li>
    ))
  }
</ul>
