---
import LastModifiedNotes from '@/components/LastModifiedNotes.astro';
import DefaultLayout from '@/layouts/DefaultLayout.astro';
---

<DefaultLayout>
  <section class="m-4">
    <h1 class="text-xs mb-1 font-bold text-zinc-500 dark:text-zinc-400">최근 변경된 노트</h1>
    <LastModifiedNotes />
  </section>
</DefaultLayout>
