<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>도토리 노트</title>
  </head>
  <body>
    <p>도토리 노트</p>
  </body>
</html>
