---
import DefaultLayout from '~/layouts/DefaultLayout.astro'
import { css } from '~/styled-system/css'
---

<DefaultLayout>
  <p class={css({ marginTop: '1rem' })}>λ„ν† λ¦¬ λ…ΈνΈ λ§λ“λ” μ¤‘ π§‘β€π’»</p>
</DefaultLayout>
