---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@siluat/shadcn-ui/components/card';
---

<DefaultLayout title="UI Craft - 도토리 노트" >
  <div class="px-4 py-8">
    <h1 class="text-center text-2xl font-bold">UI Craft</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 py-8 items-stretch">
      <a href="/note/37e9fea7-a383-4a32-8626-e5d8430024cc" class="flex">
        <Card className="pt-0 overflow-hidden">
          <CardContent className="p-0">
            <video src="/assets/ui-craft/ffxiv-job-icons-loop.mp4" autoplay loop muted playsinline />
          </CardContent>
          <CardHeader>
            <CardTitle>FFXIV Job Icons Loop</CardTitle>
            <CardDescription>SVG Path Morphing을 활용한 로딩 인디케이터</CardDescription>
          </CardHeader>
        </Card>
      </a>
      <a href="/note/1f311ff6-f2c7-4b83-b363-4ab0ad225658" class="flex">
        <Card className="pt-0 overflow-hidden">
          <CardContent className="p-0">
            <video src="/assets/ui-craft/list-item-expand-transition.mp4" autoplay loop muted playsinline />
          </CardContent>
          <CardHeader>
            <CardTitle>List Item Expand Transition</CardTitle>
            <CardDescription>목록의 아이템을 클릭/터치하면 상세 정보로 확장되는 트랜지션</CardDescription>
          </CardHeader>
        </Card>
      </a>
    </div>
  </div>
</DefaultLayout>
