---
import { getEntry } from 'astro:content'
import { build404Response } from '@/astro-utils/response'
import { isProd } from '@/astro-utils/runtime-context'
import TwoColumnsBlock from '@/components/two-columns-block.astro'
import PlainPageLayout from '@/layouts/plain-page-layout.astro'

if (isProd) return build404Response()

const mdxSample = await getEntry('dev', 'mdx-sample')
const { Content } = await mdxSample.render()
---

<PlainPageLayout>
  <TwoColumnsBlock>
    <div slot="left-column" data-theme="light">
      <Content />
    </div>
    <div slot="right-column" data-theme="dark">
      <Content />
    </div>
  </TwoColumnsBlock>
</PlainPageLayout>
